.img-circle.logo_img{
background: #fff none repeat scroll 0 0;
    border: 1px solid rgba(52, 73, 94, 0.44);
    padding: 4px;
    position: inherit;
    width: 50px;
    margin-left:7px;
    z-index: 1000;
}
.image_profile_left{
    background: #fff none repeat scroll 0 0;
    border: 1px solid rgba(52, 73, 94, 0.44);
    padding: 4px;
    position: inherit;
    width: 100px!important;
    margin-left:7px;
    z-index: 1000;
    border-radius: 50%;
}
.tile_count_last{
	margin-bottom:0px!important;
}
.tile_stats_count .count {
    font-size: 23px!important;
    }

footer {
    background: #605ca8 none repeat scroll 0 0!important;
    color: black;
    display: block;
    font-weight: bold;
    padding: 23px 20px;
    text-align: center;
}

.footer_text{
color: #2a3f54;
font-weight: bold;	
font-size:15px!important;
margin-left:1%!important;
}
.btn-datatable{
    border-radius:6px!important;
    margin-right:2%!important;
}
.header-badge{
    color:white!important;
}
.fixed_header_col_table{
    width:100%!important;
    max-width:100%!important;
}
/*.search_init{
    width:50%!important;
}*/
.nubber_col{
    text-align: right ! important;
}
ol, ul {
    list-style-type: none;
}

@media (min-width: 1200px) {
.dt-buttons, .btn-group {
    width: 60% !important ;
}
.dataTables_filter {
    width:31% !important;
}
}
@media (max-width: 768px) {
  .dt-buttons, .btn-group {
    width: 100% !important ;
    margin-top:5%!important;
}
.dataTables_filter {
    width:70% !important;
    float:left!important;
}
}

.error{
    color:red!important;
}

#assembly_constituency_analysis_table_filter .dataTables_filter .form-control {
    width:60%!important;
}
.modal-headdfer{
    text-align:center!important;
    font-weight: bold;
}
.btn_icon{
    margin-top:4%;
}

.login_footer_text{
color: #2a3f54;
font-weight: bold;  
font-size:12px!important;
padding-left:1%!important;
}
.inputTooltip{
    coursor:default!important;
    pointer-events: auto!important;
}
.headerTopHeadline{
 float: left !important;
    font-size: 15px;
    max-width: 37% !important;
    overflow: visible !important;
    padding-top: 1%;
}
.captcha{
    float: left !important;
    height: 45px !important;
    margin-left: 15% !important;
    width: 35% !important;
}
#id_captcha_1{
    float: left !important;
    height: 47px !important;
    margin-left: 6% !important;
    width: 24% !important;
    font-size: 30px!important;
    text-align: center;
}
.dashboardDate{
    font-weight:bold;
    font-size:13px;
    color:black!important;
}
.dashboardBadgeCount{
    top:0px!important;
}

.dataTables_info{
width:25%;
}
.paging_full_numbers{
width:75%;
}

.login_image{
    background: #fff none repeat scroll 0 0;
    border: 1px solid rgba(52, 73, 94, 0.44);
    padding: 4px;
    position: inherit;
    width: 150px !important;
    margin-left:7px;
    z-index: 1000;
    border-radius: 50%;
}