<!DOCTYPE html>
<html>
     <head>
         <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
         <meta http-equiv="content-type" content="text/html; charset=UTF-8">
         <!--Trun off the cache-->
         <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
         <meta http-equiv="Pragma" content="no-cache" />
         <meta http-equiv="Expires" content="0" />
         <title>Cassandra | Django | Rest API | Web Scraping | Spark Streaming | Tweet Streaming</title>
    
         <link href="{{static}}/static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
         <link href="{{static}}/static/css/jquery-ui.css" rel="stylesheet" type="text/css"/>
         <link rel="stylesheet" href="{{static}}/static/css/font-awesome.min.css"> 
         <!-- data table css -->
        <link href="{{static}}/static/user/js/datatables/jquery.dataTables.min.css" %}" rel="stylesheet" type="text/css" />
          <link href="{{static}}/static/user/js/datatables/buttons.bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
          <link href="{{static}}/static/user/js/datatables/fixedHeader.bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
          <link href="{{static}}/static/user/js/datatables/responsive.bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
          <link href="{{static}}/static/user/js/datatables/scroller.bootstrap.min.css" %}" rel="stylesheet" type="text/css" />

         <link href="{{static}}/static/css/pnotify.custom.min.css" rel="stylesheet" type="text/css"/>
         <link href="{{static}}/static/css/flipclock.css" rel="stylesheet" type="text/css"/>

        <script type="text/javascript" src="{{static}}/static/js/jquery.js"></script> 
        <script type="text/javascript" src="{{static}}/static/js/bootstrap.min.js"></script> 
        <script type="text/javascript" src="{{static}}/static/js/jquery-ui.js"></script>
        <script type="text/javascript" src="{{static}}/static/js/jquery.validate.js"></script>
        <script type="text/javascript" src="{{static}}/static/js/jquery.cookie-1.3.1.js"></script> 
        <script type="text/javascript" src="{{static}}/static/js/pnotify.custom.min.js"></script>
        
         <script>
             $.ajaxSetup({
              data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
              });
        </script>
     </head>
     <body>
          <div class="container">
               {% block content %}
               {% endblock %}

          </div>
             

            <script type="text/javascript" src="{{static}}/static/user/js/jquery.dataTables.columnFilter.js" %}"></script>
              <!-- Datatables-->
        <script src="{{static}}/static/user/js/datatables/jquery.dataTables.min.js" %}"></script>
        <script src="{{static}}/static/user/js/datatables/dataTables.bootstrap.js" %}"></script>
        <script src="{{static}}/static/user/js/datatables/dataTables.buttons.min.js" %}"></script>
        <script src="{{static}}/static/user/js/datatables/buttons.bootstrap.min.js" %}"></script>
        <script src="{{static}}/static/user/js/datatables/jszip.min.js" %}"></script>
        <script src="{{static}}/static/user/js/datatables/pdfmake.min.js" %}"></script>
        <script src="{{static}}/static/user/js/datatables/vfs_fonts.js" %}"></script>
        <script src="{{static}}/static/user/js/datatables/buttons.html5.min.js" %}"></script>
        <script src="{{static}}/static/user/js/datatables/buttons.print.min.js" %}"></script>
        <script src="{{static}}/static/user/js/datatables/dataTables.fixedHeader.min.js" %}"></script>
        <script src="{{static}}/static/user/js/datatables/dataTables.keyTable.min.js" %}"></script>
        <script src="{{static}}/static/user/js/datatables/dataTables.responsive.min.js" %}"></script>
        <script src="{{static}}/static/user/js/datatables/responsive.bootstrap.min.js" %}"></script>
        <script src="{{static}}/static/user/js/datatables/dataTables.scroller.min.js" %}"></script>


        <link href="{{static}}/static/css/layout.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="{{static}}/static/js/action.js"></script>

    </body>
</html>


