{% extends 'base.html'%}
{% block content %}
    <div class="row">
        <div class="surveyHeading">
            <div class="surveyTitle alert alert-success col-lg-12 col-md-12 col-sm-12 col-xs-12">Cassandra | Django | Rest API | Web Scraping | Spark Streaming | Tweet Streaming</div>
        </div> 
       </div>
        
         
       <!-- <div class="surveyHeading alert alert-info col-lg-12 col-md-12 col-sm-12 col-xs-12" style="font-size:13px!important;margin-left:-2%!important;width:100%!important">
         Total No of records : <span id="total_no_records"><b>{{total_no_records}}</b></span>
       </div> -->
      
      <button type="button" class="btn btn-success sync_news_article" id="sync_news_article" style="margin-left:-2%!important"> Start Sync</button>

      <a type="button" class="btn btn-warning" id="tweet_streaming" style="margin-left:2%!important" target="_blank" href="/" data-toggle="tooltip" title="Click here to open Tweet Application">Tweet Streaming</a>

      <div class="loadingSpinner" id="loadingSpinner" style="height: 12px;margin-left: 45%;margin-top: -1%;width: 27%;display:none">
          <i class='fa fa-spinner fa-pulse fa-5x'></i>
       </div>

      <div class="terminology_modal_div" style="margin-bottom: 7%!important;">
              <button type="button" class="btn btn-info agile_terminology_modal_button" data-toggle="modal" data-target="#agile_terminology_modal" data-toggle="tooltip" title="Please click here to see API details" style="margin-top:0%!important">API</button>
      </div>


<div class="col-md-12" style="margin-left:-3%!important;width:103%!important">
<table class="table table-striped table-bordered table-hover dt-responsive nowrap fixed_header_col_table" id="news_articles_table"> 

          <thead>

           <tr>
        <th colspan="">Title </th>
        <th colspan="1">Description</th>
        <th colspan="1"></th>
        <th colspan="1">Category</th>
       <!--  <th colspan="1"></th> -->
        </tr>


        <tr>
        <th style="width:20%!important">Title</th>
        <th style="width:20%!important">Description</th>
         <th style="width:20%!important">Image</th>
        <th style="width:20%!important">Category</th>
       <!--  <th style="width:20%!important">Synced On</th> -->
        </tr>
          </thead>
          <tbody>
            
             {% for document in final_result %}
              <tr>
              
                   <td style="width:20%!important">{{document.title|title}}</td>
                   <td style="width:20%!important">{{document.description|slice:":300"}} ... </td>
                   <td style="width:20%!important"><img style="max-width: 213px;max-height: 500px;border-radius: 20px;border: 1px solid #ddd;" src="{% if document.image %}{{document.image|safe}}{% endif %}"> </td>
                   <td style="width:20%!important">{{document.category|title}}</td>
                   <!-- <td style="width:20%!important">{{document.last_modified}}</td> -->
          </tr>
          {% endfor %}
                  
          </tbody>
  </table>
</div>


<!-- Modal -->
<div id="agile_terminology_modal" class="modal fade" role="dialog">
  <div class="modal-dialog agile_terminology_modal_dialog col-lg-10 col-md-10 col-sm-10 col-xs-10">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title agile_terminology_heading">Details</h4>
      </div>
      <div class="modal-body" style="min-height:300px!important">

      


          <div class="col-md-12 col-sm-6 col-sx-6" style="min-height:300px!important">

          <div class="col-md-12" style="float:left;max-height:300px!important;">
                Get News API : <a href="news-api/?page_size=10" target="_blank">news-api/?page_size=10</a> <br/>

                Sync status API : <a href="get-sync-status/" target="_blank">get-sync-status/</a> <br/>

                Sync News API : <a href="sync-news" target="_blank">sync-news</a> <br/>


           </div>

          </div>
      </div>        
      <div class="modal-footer agile_terminology_footer">
        <button type="button" class="btn btn-info agile_terminology_close_button" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<style>
</style>
<script type="text/javascript">
    function update_total_no_of_records(){
          $.ajax({
                  url : "/get-sync-status/", 
                  type : "GET", 
                  timeout: '60000',
                  data : {}, 
                  success : function(data) {
                    $("#loadingSpinner").hide();
                    var is_synced = data["is_synced"]
                    if (is_synced=="yes"){
                        commonPnotify('syncSuccess');
                    }
                    else{
                        commonPnotify('syncNoUpdate');
                    }
                    // console.log(status,"gggg",data);
                    $("#loadingSpinner").hide();
                      },
                  error : function(xhr,errmsg,err) {
                       console.log(xhr.status + ": " + xhr.responseText+"xhr"+xhr+"err"+err);
                       $("#loadingSpinner").hide();
                  }
              });
    }

setInterval(function() {
  $("#loadingSpinner").show();
  setTimeout(function() {
   update_total_no_of_records()
}, 3000);
 
}, 12000);
</script>
{% endblock%}
