{% extends 'base.html'%}
{% block content %}
    <div class="row">
        <div class="surveyHeading">
            <div class="surveyTitle alert alert-success col-lg-12 col-md-12 col-sm-12 col-xs-12">Cassandra | Django | Rest API | Web Scraping | Spark Streaming | Tweet Streaming</div>
        </div> 
       </div>

       <a type="button" class="btn btn-success" id="back_to_news_api" style="margin-left:-2%!important" href="/news/" target="_blank" data-toggle="tooltip" title="Click here to open News Application">News API</a>

      <div class="loadingSpinner" id="loadingSpinner" style="height: 12px;margin-left: 45%;margin-top: -1%;width: 27%;display:none">
          <i class='fa fa-spinner fa-pulse fa-5x'></i>
       </div>

      <div class="terminology_modal_div" style="margin-bottom: 7%!important;">
              <button type="button" class="btn btn-info agile_terminology_modal_button" data-toggle="modal" data-target="#agile_terminology_modal" data-toggle="tooltip" title="Please click here to see API details" style="margin-top:0%!important">API</button>
      </div>
<div class="col-md-12" style="margin-left:-3%!important;width:103%!important">
</div>


<!-- Modal -->
<div id="agile_terminology_modal" class="modal fade" role="dialog">
  <div class="modal-dialog agile_terminology_modal_dialog col-lg-10 col-md-10 col-sm-10 col-xs-10">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title agile_terminology_heading">Details</h4>
      </div>
      <div class="modal-body" style="min-height:300px!important">

      


          <div class="col-md-12 col-sm-6 col-sx-6" style="min-height:300px!important">

          <div class="col-md-12" style="float:left;max-height:300px!important;">
                Get Tweet API : <a href="/tweet-api/?page_size=10" target="_blank">tweet-api/?page_size=10</a> <br/>
           </div>

          </div>
      </div>        
      <div class="modal-footer agile_terminology_footer">
        <button type="button" class="btn btn-info agile_terminology_close_button" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<style>
</style>
<script type="text/javascript">
update_tweet()

function tweetPnotify(type,tweet,user_image) {
    var opts = {
        shadow: false
    };
    switch (type) {
        case 'tweetMessage':
            opts.title = '<img style="min-width: 45px;max-height: 157px;border-radius: 50%;border: 1px solid #ddd;margin-left: 103px;" src="'+user_image+'">';
            opts.text = tweet;
            opts.icon = false

            break;

     }
     new PNotify(opts);
  }


function update_tweet(){
          $.ajax({
                  url : "/tweet-api/", 
                  type : "GET", 
                  timeout: '60000',
                  data : {}, 
                  success : function(data) {
                    console.log(data)
                    $("#loadingSpinner").hide();
                    var result = data["result"]
                    console.log("result ",result)

                    for (i = 0; i < result.length; i++) { 
                        tweet = result[i]["tweet"]
                        user_image = result[i]["user_image"]
                        tweetPnotify('tweetMessage',tweet,user_image);
                    }
                    $("#loadingSpinner").hide();
                      },
                  error : function(xhr,errmsg,err) {
                       console.log(xhr.status + ": " + xhr.responseText+"xhr"+xhr+"err"+err);
                       $("#loadingSpinner").hide();
                  }
              });
    }
setInterval(function() {
  $("#loadingSpinner").show();
  update_tweet()
}, 9000);

</script>
{% endblock%}